[submodule "deps/wepoll"]
	path = deps/wepoll
	url = https://github.com/piscisaureus/wepoll
[submodule "deps/backward-cpp"]
	path = deps/backward-cpp
	url = https://github.com/bombela/backward-cpp
[submodule "deps/concurrentqueue"]
	path = deps/concurrentqueue
	url = https://github.com/cameron314/concurrentqueue
[submodule "deps/rapidjson"]
	path = deps/rapidjson
	url = https://github.com/tencent/rapidjson
[submodule "deps/pugixml"]
	path = deps/pugixml
	url = https://github.com/zeux/pugixml
